---
import { getCollection } from 'astro:content';

import Layout from '../components/Layout.astro';
import HeroSection from '../components/home/HeroSection.astro';
import ProjectsSection from '../components/home/ProjectsSection.astro';
import BlogSection from '../components/home/BlogSection.astro';
import ContactSection from '../components/home/ContactSection.astro';

import {
  AUTHOR_NAME,
  ROLE,
  GITHUB_PROFILE_LINK,
  LINKEDIN_PROFILE_LINK,
  MAIL_PROFILE_LINK,
  TWITTER_PROFILE_LINK,
} from '../consts';

const personSchema = {
  '@context': 'https://schema.org',
  '@type': 'Person',
  name: AUTHOR_NAME,
  jobTitle: ROLE,
  url: 'https://kalinichenko.dev',
  sameAs: [GITHUB_PROFILE_LINK, LINKEDIN_PROFILE_LINK, TWITTER_PROFILE_LINK],
  knowsAbout: ['React', 'TypeScript', 'JavaScript', 'Frontend Architecture', 'Web Performance'],
};

const allPosts = await getCollection('posts');
const latestPosts = allPosts
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, 4);

const projects = (await getCollection('projects'))
  .sort((a, b) => a.data.order - b.data.order)
  .map(({ data }) => ({
    ...data,
    url: data.homepage ?? `${GITHUB_PROFILE_LINK}/${data.slug}`,
  }));
---

<Layout>
  <script type="application/ld+json" is:inline set:html={JSON.stringify(personSchema)} />
  <HeroSection />
  <div class="container"><hr class="divider" /></div>
  <ProjectsSection projects={projects} githubProfileLink={GITHUB_PROFILE_LINK} />
  {allPosts.length > 0 && <BlogSection latestPosts={latestPosts} />}
  <ContactSection mailProfileLink={MAIL_PROFILE_LINK} linkedinProfileLink={LINKEDIN_PROFILE_LINK} />
</Layout>
